<!-- HTML for part 2 
<div id="container">
  <button>Load</button>
  <ul id="list"></ul>
</div>

<div id="list-template">
  <li><a href=""></a></li>
</div>
-->

<!-- HTML for part 3
<a href="#foo/bar">Click!</a>
-->

